# This file contains an example configuration with RPi as secondary mcu

# See docs/Config_Reference.md for a description of parameters.

# The rpi microcontroller is used as secondary.
# Typically, both the X and Y axes
# are connected to the main micro-controller. The rpi microcontroller is used
# on non time-critical functions such as enclosure sensors, additional fan or
# light sources
[mcu rpi]
serial: /tmp/klipper_host_mcu

[output_pin BEEPER]
pin: rpi:gpio24
pwm: False
value: 0
shutdown_value: 0
#cycle_time: 0.001
#scale: 1

[gcode_macro M300]
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(260)|int %}
    # Use a 100ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=BEEPER VALUE=1
    G4 P{P}
    SET_PIN PIN=BEEPER VALUE=0